*{
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 30px;
}
/*div{
    width: 120px;
    height: 120px;
    background: yellow;
    display: block;
}*/
.contenedor{
    width: 300px;
    height: 300px;
    background: blue;
    margin: 40px;
    position: relative;
}
.hijo{
    background: orange;
    height: 120px;
    width: 120px;
    position: relative;
    top: -20px;
    left: -20px;
    z-index: -1;/* con -1 es la unica forma de poner al hijo atras del padre que el padre no tenga definido el index*/

}
/*.caja1{
    background-color:orange;
    top: 20px;
}
.caja2{
    background-color: green;
    position: relative;
    top: 60px;
    left: 20;
    z-index: 1;
}
.caja3{
    background-color: lightblue;
    position: relative;
}
.caja4{
    background-color: yellow;
}
*/
/*.caja1{
    width: 200px;
    height: 200px;
    background: red;
    margin: auto;
    border: 10px solid blue;
    outline: 10px solid blue;*/
    /*box-sizing: content-box; content hce que se sume los px de la caja mas lo del borde
    en vez la de border box hace que los bordes cuenten como px en la caja
    POSITION= esta posicionado cuando va a afectar el flujo html, el orden de como se encuentran los elementos. Posicionar un elemento
    hace que adquiera 4 propiedades nuevas "top left right y bottom" es decir que darle valores va a ser que se mueve tantos px a ese lado. tambien adquiere el Z index
    el z index funciona para dposicionar las cajas sobre el eje de las Z es decir se va a ver adelante o atras y de esta forma puede no respetar el fluujo del, es decir porner la caja 2 adelante de la 3
    siendo que la 3 naturalmente va por encima ya que fue la ultima dibujada, conviene dejar bastante diferencia entre un z index y otro por si se necesita poner algo
    en el medio, que haya diferencia para poder agregarlo sino hay que cambiar todos los z index.
    static= es el defaul no esta posicionado
    relative= conserva el mismo espacio por mas que se mueva de lugar se va a ver mas abajo
    arriba o derecha etc, pero el luegar que deja queda reservado. top y left tienen prioridad sobre bottom y right
    absolute=
    fixed=
    sticky=

    OUTLINE no mueve el contenido de la pagina porque hace que no ocupe espacio 
    se puede usar para remarcar cosas sin modificar el resto, es decir se ve pero nocuenta como pixeles 
}*/
/*.caja2{
    width: 200px;
    height: 200px;
    background: yellow;
    margin: auto;
}*/
/*
Outline= genera un borde, pero sin afectar a las demas cajas, no ocupa un espacio real en elDOM modelo de objeto de documento
k
*/